html, body
{
    background-color: blueviolet;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100%;
    /*height:auto;*/
    box-sizing: border-box;
}

content
{
    display:flex;
    height:100%;
    flex-direction: column;
}

header
{
    display:flex;
    justify-content: center;
    height:5rem;
    border: 2px;
    border-style: solid;
    flex:0;
}

footer
{
    height:2rem;
    display: flex;
    flex:0;
    border: 1px;
    border-style: solid;
}

select
{
    font-size: larger;
}

input
{
    height: 5rem;
}

.main_content
{
    display:flex;
    flex:1;
    overflow: scroll;
}

.options
{
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    width:20rem;
    height:100%;
    overflow: scroll;
    justify-content: center;
    align-items:end;
}

.options > *
{
    margin: 5px 0 5px 0;
    /* height: auto; /*5rem;*/
    width: 12rem;
}

.canvas_container
{
    display: flex;
    box-sizing: border-box;
    padding:2rem;
    width: calc(100% - 10rem);
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.canvas
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100%;
    aspect-ratio: 1 / 1;
    border: 2px;
    border-style: solid;
    overflow: hidden;
    /* background-color: blueviolet; /* Obnoxious color to see if background is showing */
    background-color: white; /* Cheating since the back ground occasionally peaks through */
    padding:0;
}

.pixel
{
    height:calc(10% - 1px);
    aspect-ratio: 1 / 1;
    border: 0 1px 1px 0;
    border-color: white;
    border-style: dotted;
    border-width: 1px;
    background-color: gainsboro;
}

.theme_main
{
    background-color: red;
    color: gold;
    border-color: black;
}

/*
.theme_main h1,h2
{
    -webkit-text-stroke: 2px black; 
}
*/